<!DOCTYPE html>
<html >
  <head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Bank Search Form</title>
    <link rel="stylesheet" href="{% static 'search/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'search/css/style.css' %}">
  </head>
  
  <body>
    <div class="info">
      <h1>welcome</h1>
      <br>
      <h2>Keyword Search <br>(Running in cloud)</h2>
      <br> 
      <h2> The total files in database is: <a href="/files">{{ num_files }}</a> </h2>
      <br>
      <h2> <a href="/upldr"> Upload Files to cloud </a></h2>
    </div>
    <div class='form animated bounceIn'>
      <div class="login">
        <h2>Upload your trapdoor to search</h2>
        <form action="/search" method="post"  enctype="multipart/form-data">
    		{% csrf_token %}
    		{{ form }}
    		<input style="background-color:black" type="submit" value="Submit" />
		</form>
      </div>
    </div>
  </body>
</html>